ENVIRONMENT=dev
# Application Port
PORT=3000
# Postgres
# Use DB_HOST=db when running inside Docker (docker-compose or docker-compose.dev.yml)
# Use DB_HOST=localhost when running npm run start:dev directly on your host machine
DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=name

# openweathermaps.org
OWM_API_KEY=1234
# weatherapi.com
WEATHERAPI_API_KEY=1234
# resend.com
RESEND_API_KEY=1234

# Email
EMAIL_SENDER=example@example.com

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminpassword

JWT_SECRET=your_jwt_secret_key
